.signin_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

.signin_form > form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.signin_form > form > input {
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0; /* Does't display outline box */
  margin-top: 10px;
}

.signin_form > form > div {
  font-size: 13px;
  color: lightslategrey;
}

.signin_form > form > button {
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0; /* Does't display outline box */
  margin-top: 10px;
  background-color: white;
  color: lightslategrey;
}

.signin_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.signin_footer > a {
  text-decoration: none; /* Removes the underline */
  color: lightslategrey;
}

.signin_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
