.forgot_password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

.forgot_password > form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.forgot_password > form > input {
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0; /* Does't display outline box */
  margin-top: 10px;
}

.forgot_password > form > div {
  font-size: 13px;
  color: lightslategrey;
}

.forgot_password > form > button {
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0; /* Does't display outline box */
  margin-top: 10px;
  background-color: white;
  color: lightslategrey;
}

.forgot_password_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
